body {
    font-family: 'Century', 'Century Gothic', sans-serif;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f0faff;
    transition: background-color 0.5s, color 0.5s;
}
body.dark-mode {
    background-color: #333;
    color: #f0faff;
}
header {
    text-align: center;
    padding: 1rem;
    background-color: #fff;
    position: relative;
    transition: background-color 0.5s;
}
header.dark-mode {
    background-color: #444;
}
h2 {
    font-size: 1.5rem;
}
.subtitle {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: bold;
}
.hamburger {
    display: block;
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    right: 20px;
    top: 10px;
    color: #000;
}
nav a {
    margin: 10px;
    text-decoration: none;
    color: #333;
    transition: color 0.5s;
}
nav a.dark-mode {
    color: #f0faff;
}
footer {
    font-size: 0.8em;
    color: #666;
    background-color: #eee;
    padding: 1rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transition: background-color 0.5s, color 0.5s;
}
footer.dark-mode {
    background-color: #444;
    color: #f0faff;
}
article {
    background-color: #fff;
    transition: background-color 0.5s, color 0.5s;
}
article.dark-mode {
    background-color: #555;
    color: #f0faff;
}
.side-banner {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
}
.side-banner a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}
.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.home-logo {
    position: absolute;
    left: 20px;
    top: 10px;
    cursor: pointer;
}
.home-logo img {
    height: 50px;
    width: auto;
    display: block;
}
#darkModeToggle {
    display: none;
}

/* Slider switch CSS */
.dark-mode-toggle {
    position: fixed;
    right: 20px;
    bottom: 7px; /* Adjust this value to ensure it's at the bottom */
    width: 60px;
    height: 34px;
    z-index: 1000; /* Ensure it is on top of other elements */
}

.dark-mode-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000; /* Black background */
    transition: .4s;
    border-radius: 34px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Add a shadow for better visibility */
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white; /* White dot */
    transition: .4s;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0,0,0,0.2); /* Add a shadow for better visibility */
}

input:checked + .slider {
    background-color: #000; /* Ensure the background remains black when checked */
}

input:checked + .slider:before {
    transform: translateX(26px);
}

/* Media Queries */
@media (min-width: 768px) {
    body {
        font-size: 16px;
    }
    article {
        width: 80%;
        margin: 20px auto;
        padding: 20px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        border: 1px solid #ccc;
        background-color: #fff;
        text-align: left;
        font-size: 22px;
        line-height: 1.6;
    }
    header {
        padding: 1.5rem;
    }
}
@media (max-width: 767px) {
    body {
        font-size: 14px;
    }
    article {
        width: 95%;
        padding: 10px;
        font-size: 18px;
    }
    header, nav, footer {
        padding: 1rem;
    }
    .hamburger {
        top: 5px;
    }
    .home-logo {
        position: absolute;
        left: 10px;
        top: 6px;
    }
    .home-logo img {
        height: 30px;
        width: auto;
        display: block;
    }
}


